################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TravelCSharp/bin
/TravelCSharp/obj
/TravelCSharp.Common/bin/Debug
/TravelCSharp.Common/obj
